<section class="fixed top-0 z-10  w-full min-h-screen  flex justify-center items-center left-0">
  <div class="bg-gray-800 opacity-50 w-full min-h-screen" (click)="closeModal()"></div>
  <div id="modal" class="absolute w-3/5  bg-slate-100 shadow-lg rounded">
    <div class="flex flex-col items-center p-2">
      <span class="font-mono text-sm">{{articulo.codigo}}</span>
      <div class="text-3xl font-bold"> {{articulo.marca.nombre}} {{articulo.nombre}}</div>
      <div class="mt-5 text-center w-full">
        <span class="break-words overflow-hidden"> {{articulo.descripcion}}</span></div>
      <div class="w-5/6 my-2 border border-b-2 bg-slate-200 "></div>
      <div class="mt-2 flex flex-row flex-nowrap justify-evenly w-full font-medium">
        <div>
          <p class="font-bold text-lg">Categoria:</p>
          <p>{{articulo.categoria.nombre}}</p>
        </div>
        <div>
          <p class="font-bold text-lg">Estado:</p>
          <p>{{articulo.activo ? 'Activo' : 'Inactivo'}}</p>
        </div>
      </div>
      <div class="mt-2 flex flex-row flex-nowrap justify-evenly w-full font-medium">
        <div>
          <p class="font-bold text-lg">Precio</p>
          <p>{{articulo.precio | currency:'USD'}}</p>
        </div>
        <div>
          <p class="font-bold text-lg">Stock</p>
          <p>{{articulo.stock}}</p>
        </div>
        <div>
          <p class="font-bold text-lg">Costo</p>
          <p>{{articulo.costo | currency:'USD'}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
